//
//  APPSecrets.xcconfig
//  GameWO
//
//  Created by belal medhat on 11/07/2021.
//  Copyright © 2021 Belal medhat. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

key = 10d1d4c246b041b3a10fa2d0c3e839e2
